/* line 2, ../sass/site.scss */
html,
body {
  height: 100%;
}

/* line 7, ../sass/site.scss */
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

/* line 14, ../sass/site.scss */
.wrap > .container {
  padding: 70px 15px 20px;
}

/* line 18, ../sass/site.scss */
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

/* line 25, ../sass/site.scss */
.jumbotron {
  text-align: center;
  background-color: transparent;
}

/* line 30, ../sass/site.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* line 35, ../sass/site.scss */
.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
/* line 41, ../sass/site.scss */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

/* line 52, ../sass/site.scss */
a.asc:after {
  content: "\e151";
}

/* line 56, ../sass/site.scss */
a.desc:after {
  content: "\e152";
}

/* line 60, ../sass/site.scss */
.sort-numerical a.asc:after {
  content: "\e153";
}

/* line 64, ../sass/site.scss */
.sort-numerical a.desc:after {
  content: "\e154";
}

/* line 68, ../sass/site.scss */
.sort-ordinal a.asc:after {
  content: "\e155";
}

/* line 72, ../sass/site.scss */
.sort-ordinal a.desc:after {
  content: "\e156";
}

/* line 76, ../sass/site.scss */
.grid-view th {
  white-space: nowrap;
}

/* line 80, ../sass/site.scss */
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

/* line 86, ../sass/site.scss */
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
